* {
	font-family:arial;

}

.title{
	background-color: black;
	color: white;
	text-align: center;
}

#tlTitle{
	display:none;
}

#timeline {
	display: none;
}

.mainBox{

}

.tlBox{
	float: right;
}

.user{
  font-weight: bold;
  font-size:1.2em;
}

.msg{
font-size: 1.2em;
}

.date{
	color:blue;
	text-align: right;
}

.tweet {
	margin:20px;
	display:none;
	border-bottom: 2px solid gray;
}

.tweetBox{
	margin-left:10%;
	width: 80%;

}

button{
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
	width:10%;
	margin-left:45%; 
	background-color: yellow;
	margin-bottom: 15px;
}